%section.hero-intro
  %h1= @book.title
  %p= "By #{@book.author}"

= label_form_for [@book, @graph] do |f|
  %section.inputs
    = f.input :name, optional: true
    = f.input :description, optional: true

  %section.tools
    %section.mode
      = switch({ on: 'preview', off: 'edit' }, { on: 'plug', off: 'wrench' })
    %section.save
      = button 'save graph', 'paper-plane'

%section.graph
  %svg#canvas{ class: ('error' if @graph.errors)}
  -# render the plot points form so it is attached to the DOM.
  = render 'plot_points/form'

  %section#plot_point
    %section.plot-point-container
      %section.name
      %section.desc
      .ribbon-wrapper
        .ribbon SAD


= javascript_include_tag 'canvas'
