%section.hero-intro
  %h1= @book.title
  %p= "By #{@book.author}"

%section#graph_form{ data: { id:  @graph.id  } }

  %section.mode
    = switch({ on: 'preview', off: 'edit' }, { on: 'plug', off: 'wrench' })

  %svg#canvas
  = render 'plot_points/form'

  %section#plot_point
    %section.plot-point-container
      %section.name
      %section.desc
      .ribbon-wrapper
        .ribbon SAD


= javascript_include_tag 'canvas'
