%section.book
  %aside
    = image_tag(book.cover)
  %section.meta
    %span.title
      = link_to book.title, book
    %span.author= "by #{book.author}"

  %section.tools
    = link_to edit_book_path(book) do
      %i.fa.fa-wrench
