%section.book
  %aside
    = image_tag(book.cover)
  %section.meta
    %ul
      %li
        .label Title
        .info= book.title
      %li
        .label Author
        .info= book.author
    %ul
      %li
        .label Published
        .info= book.published
      %li
        .label Length
        .info= book.length
  %section.tools
    = link_to edit_book_path(book) do
      %i.fa.fa-wrench
