%section.book{ style: "background-image: url(#{book.cover})"}
  = link_to book do
    %h1.title= book.title
  %section.meta
    %span.author
      %i.fa.fa-male
      = book.author
    -# TODO: admin tools
    %span.tools
      = link_to edit_book_path(book) do
        %i.fa.fa-wrench
