%section.hero-intro
  %section.image{ style: "background-image: url(#{@book.cover})"}
  %section.blur{ style: "background-image: url(#{image_path('arya_blur.png')})"}

  %section.title-container
    %h1.title= @book.title

%section#book

  %section#graph

  %section.meta
    %ul
      %li
        .label Author
        .info= @book.author
      %li
        .label Published
        .info= @book.published
    %ul
      %li
        .label Length
        .info= @book.length

  %section
    = link_to new_book_graph_path(@book) do
      %i.fa.fa-line-chart.fa-2x
