%section.hero-intro
  %h1= @book.title

%section#book

  %section#graph

  %aside
    = image_tag(@book.cover.url)
  %section.meta
    %ul
      %li
        .label Author
        .info= @book.author
      %li
        .label Published
        .info= @book.published
    %ul
      %li
        .label Length
        .info= @book.length

%section
  = link_to new_book_graph_path(@book) do
    %i.fa.fa-line-chart.fa-2x
