%h1= @book.title

%section#book

  %ul
    %li= "Author: #{@book.author}"
    %li= "Published: #{@book.published}"
    %li= "Length: #{@book.length}"

  - @book.graphs.each do |graph|
    %section.graph= graph

%section#book-meta
  = link_to 'Create a graph for this book?', new_book_graph_path(@book)
