%h1= @book.title

%section#book
  %aside
    = image_tag(@book.cover.url)
  %section.meta
    %ul
      %li
        .label Title
        .info= @book.title
      %li
        .label Author
        .info= @book.author
    %ul
      %li
        .label Published
        .info= @book.published
      %li
        .label Length
        .info= @book.length

  - @book.graphs.each do |graph|
    %section.graph= graph

%section#book-meta
  = link_to 'Create a graph for this book?', new_book_graph_path(@book)
